In [1]:
# copy cookie from adventofcode.com to cookie.txt to get inputs
import requests
c = open('cookie.txt').readline()
cookie = {'session': c[:-1]}

# Day 1

In [2]:
#1
url = 'https://adventofcode.com/2018/day/1/input'
r = requests.post(url, cookies=cookie)
inp = r.text

In [3]:
t = [int(i[1:]) if i[0]=='+' else int(i) for i in inp.split('\n')[:-1]]
sum(t)

599

In [4]:
#2
c = 0 
s = []
flag = False
while True:
    for i in t:
        c += i
        if c in s:
            print(c)
            flag = True
            break
        s.append(c)
    if flag:
        break

81204

# Day 2

In [5]:
# 1
url = 'https://adventofcode.com/2018/day/2/input'
r = requests.post(url, cookies=cookie)
inp = r.text

In [6]:
lst = inp.split('\n')[:-1]
tmp2 = {}
for i in lst:
    tmp1 = {}
    for j in i:
        if j in tmp1:
            tmp1[j] += 1
        else:
            tmp1[j] = 1
    for k in list(set(tmp1.values())):
        if k in tmp2:
            tmp2[k] +=1
        else:
            tmp2[k] = 1

res = 1  
del tmp2[1]
for l in tmp2.values():
    res*=l
print(res)

8296

In [7]:
# 2
def findSimilarity(l1,l2):
    s = 0
    for i in zip(l1,l2):
        if i[0]==i[1]:
            s+=1
    return s

def simletters(l1,l2):
    s = ''
    for i in zip(l1,l2):
        if i[0]==i[1]:
            s+=i[0]
    return s

m = 0
k1, k2 = 0,0

for i in range(len(lst)-1):
    for j in range(i+1, len(lst)):
        tmp = findSimilarity(lst[i],lst[j])
        if tmp>m:
            k1,k2 = i,j
            m = tmp
            
print(m,lst[k1],lst[k2])
print(simletters(lst[k1],lst[k2]))

25 pazvmqbfjtrbeosiecxlghkwud pazvmqbfotrbeosiecxlghkwud
pazvmqbftrbeosiecxlghkwud

# Day 3

In [8]:
# 1
url = 'https://adventofcode.com/2018/day/3/input'
r = requests.post(url, cookies=cookie)
inp = r.text
lst = inp.split('\n')[:-1]
lst[132]

'#133 @ 305,659: 21x28'

In [9]:
lst1 = [int(x.split('@ ')[1].split(',')[0]) for x in lst]
lst2 = [int(x.split(',')[1].split(':')[0]) for x in lst]
lst3 = [int(x.split(': ')[1].split('x')[0]) for x in lst]
lst4 = [int(x.split('x')[1]) for x in lst]


s = []
for i in zip(lst1,lst3):
    s.append(sum(i))
max_h = max(s)

s = []
for i in zip(lst2,lst4):
    s.append(sum(i))
max_w = max(s)

m = [[0]*max_w for i in range(max_h)]
for i in range(len(lst1)):
    for j in range(lst1[i],lst1[i]+lst3[i]):
        for k in range(lst2[i],lst2[i]+lst4[i]):
            m[j][k] += 1
            
s = 0
for i in m:
    for j in i:
        if j>1:
            s+=1
print(s)

117948

In [10]:
# 2
import numpy as np
mm = np.asarray(m)
for k in range(len(lst1)):
    if np.max(mm[lst1[k]:lst1[k]+lst3[k],lst2[k]:lst2[k]+lst4[k]])==1:
        print(lst[k])

#567 @ 370,732: 23x19

# Day 4

In [2]:
# 1
url = 'https://adventofcode.com/2018/day/4/input'
r = requests.post(url, cookies=cookie)
inp = r.text
lst = inp.split('\n')[:-1]
lst[:5]

['[1518-08-08 00:45] falls asleep',
 '[1518-05-02 00:52] falls asleep',
 '[1518-05-07 00:56] wakes up',
 '[1518-08-18 00:06] falls asleep',
 '[1518-11-11 00:04] Guard #2179 begins shift']

In [3]:
import pandas as pd

lst_new = [x.split('[')[1].split('] ') for x  in lst]
df = pd.DataFrame(lst_new)
df.columns = ['time', 'action']
df.head()

               time                    action
0  1518-08-08 00:45              falls asleep
1  1518-05-02 00:52              falls asleep
2  1518-05-07 00:56                  wakes up
3  1518-08-18 00:06              falls asleep
4  1518-11-11 00:04  Guard #2179 begins shift

In [4]:
import datetime as dt
df['time'] = df['time'].apply(lambda x: 
                                    dt.datetime.strptime(x,'%Y-%m-%d %H:%M'))
df = df.sort_values(['time'])
df.head()

                     time                   action
292   1518-02-10 23:47:00  Guard #631 begins shift
465   1518-02-11 00:03:00             falls asleep
1002  1518-02-11 00:19:00                 wakes up
31    1518-02-12 00:03:00  Guard #983 begins shift
1067  1518-02-12 00:09:00             falls asleep

In [5]:
res = []
for i in range(len(df)):
    act = df.action.iloc[i] 
    if act not in ['falls asleep','wakes up']:
        g = act.split('#')[1].split(' ')[0]
    
    elif act == 'falls asleep':
        t1 = df.time.iloc[i].minute
    elif act == 'wakes up':
        t2 = df.time.iloc[i].minute
        for ts in range(t1,t2):
            res.append([g,ts])
            
df_res= pd.DataFrame(res)
df_res.columns = ['guard', 'time']
most_guard = df_res.groupby('guard').count().sort_values(['time'],ascending=False).head(1).index[0]
most_minutes = df_res[df_res['guard']==most_guard].groupby('time').count().sort_values(['guard'],ascending=False).head(1).index[0]
print('Answer1 = ', int(most_guard)*most_minutes)

Answer1 =  30630

In [6]:
# 2
df_res['col'] = 1
a,b = df_res.groupby(['guard','time']).count().sort_values(['col'],ascending=False).head(1).index[0]
print('Answer2 = ',int(a)*b)

Answer2 =  136571

# Day 5

In [3]:
# 1
url = 'https://adventofcode.com/2018/day/5/input'
r = requests.post(url, cookies=cookie)
inp = r.text
lst = inp.split('\n')[:-1]

In [30]:
def react(s):
    flag = False
    s_new = ''
    for i in range(0,len(s)):
        if flag:
            flag = False
            continue    
        elif i == len(s)-1:
            s_new += s[i]
        elif s[i].lower()==s[i+1].lower() and s[i]!=s[i+1]:
            flag = True
            continue
        else:
            s_new += s[i]
    return s_new

In [33]:
s = lst[0]
while True:
    s_new = react(s)
    if s == s_new:
        print(len(s_new))
        break
    else:
        s = s_new

11310

In [41]:
#2
import string
minval = len(s)
for i in string.ascii_lowercase:
    s = lst[0]
    s = s.replace(i,'')
    s = s.replace(i.upper(),'')
    while True:
        s_new = react(s)
        if s == s_new:
            if len(s_new)<minval:
                minval = len(s_new)
            break
        else:
            s = s_new
print(minval)

6020

# Day 6

In [7]:
# 1
url = 'https://adventofcode.com/2018/day/6/input'
r = requests.post(url, cookies=cookie)
inp = r.text
lst = inp.split('\n')[:-1]

In [18]:
x = [int(i.split(',')[0]) for i in lst]
y = [int(i.split(' ')[1]) for i in lst]
print(min(x), max(x), min(y), max(y))
x = [i-min(x) for i in x]
y = [i-min(y) for i in y]
print(min(x), max(x), min(y), max(y))

46 352 47 359
0 306 0 312

In [57]:
def mdist(x1,y1,x2,y2):
    return abs(x1-x2)+abs(y1-y2)

In [58]:
main = []
k = 0
for i in zip(x,y):
    main.append([k,i[0],i[1]])
    k+=1

In [64]:
main_dict = {}

def findmin(x,y, main):
    res =  1e3
    for i in range(len(main)):
        t = mdist(x,y,main[i][1],main[i][2])
        if t<res:
            res = t
            count = 0
            point = main[i][0]
        elif t==res:
            count+=1
    if count>0:
        point = -1
    return point


for i in range(max(x)):
    for j in range(max(y)):
        main_dict[(i,j)]=findmin(i,j,main)

In [77]:
infinitePoints = []
for i in [0, max(x)-1]:
    for j in [0,max(y)-1]:
        infinitePoints.append(main_dict[(i,j)])
infinitePoints = list(set(infinitePoints))
infinitePoints

[49, 11, 44, 1]

In [93]:
main_pd = pd.DataFrame(list(main_dict.values()),columns = ['points']).reset_index()
main_pd
main_pd.groupby('points').count().sort_values('index', ascending=False)

        index
points
 27      5804
-1       3787
 28      3449
 39      3367
 41      3254
 5       3186
 48      3077
 31      3068
 49      2890
 7       2842
 38      2840
 8       2829
 4       2488
 17      2453
 19      2388
 1       2216
 9       2164
 44      2127
 13      2086
 15      2030
 21      2019
 34      1895
 40      1801
 6       1791
 20      1786
 3       1704
 30      1697
 37      1690
 29      1612
 16      1555
 35      1525
 10      1438
 25      1412
 14      1407
 43      1396
 22      1213
 11      1196
 32      1031
 45       972
 47       958
 2        934
 23       917
 33       856
 12       835
 24       800
 18       749
 36       528
 46       486
 0        459
 42       424
 26        41

In [ ]:
i